<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Vendas</title>
    <!-- Inclua o link para o arquivo CSS do Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Relatório de Vendas</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Vendedor</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Preço do Produto</th>
                            <th scope="col">Data da Compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop sobre as compras -->
                        {% for i in compras %}
                        <tr>
                            <td>{{ i.vendedor.nome }}</td>
                            <td>{{ i.produto.nome }}</td>
                            <td>R$ {{ i.produto.preco }}</td>
                            <td>{{ i.data_compra }}</td>
                            <!-- Calcular e exibir o imposto sobre as vendas para cada compra -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-center">
                    <h4>Total de Imposto: R$ {{ total_imposto }}</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Inclua os scripts JavaScript do Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
